<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function laser_checked() {
            $('#left_laser_val').prop('disabled', $('#left_laser').prop('checked') == false);
            $('#right_laser_val').prop('disabled', $('#right_laser').prop('checked') == false);
        }
    </script>
</head>
<body>
<form method="post">
    <div>
        <div class="label-title">Lasers</div>
        <div>
            <label class="label-med" for="left_laser">Left:</label>
            <input type="checkbox" name="left_laser" id="left_laser" onclick="laser_checked()"/>
            <input type="range" name="left_laser_val" id="left_laser_val" min="0" max="100" value="90" step="10" disabled/>
        </div>
        <div>
            <label class="label-med" for="right_laser">Right:</label>
            <input type="checkbox" name="right_laser" id="right_laser" onclick="laser_checked()" checked/>
            <input type="range" name="right_laser_val" id="right_laser_val" min="0" max="100" value="90" step="10"/>
        </div>
    </div>
    <div>
        <div class="label-title-next">Scan</div>
        <div>
            <label class="label" for="deg_per_step">Step:</label>
            <input class="input-short" type="text" name="deg_per_step" id="deg_per_step"/><span> deg</span>
        </div>
        <div>
            <label class="label" for="deg_total">Total:</label>
            <input class="input-short" type="text" name="deg_total" id="deg_total"/><span> deg</span>
        </div>
    </div>
    <div class="label-title-next"></div>
    <div>
        <input class="btn" type="submit" value="Scan"/>
    </div>
</form>
</body>
</html>