<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
        .container {
            display: inline;
        }
        .row {
            margin-bottom: 5px;
        }
        label {
            display: inline-block;
            padding-left: 10px;
        }
        .label-short {
            width: 30px;
            margin-right: 10px;
        }
        .label {
            display: inline-block;
            width: 100px;
            padding-left: 10px;
        }
        .label-med {
            width: 50px;
            margin-right: 10px;
        }
        .label-lg {
            width: 100px;
            margin-right: 10px;
        }
        .input-short {
            width: 50px;
        }
        .right {
            margin-left: 20px;
        }
        .label-title {
            font-weight: bold;
            padding-bottom: 5px;
        }
        .label-title-next {
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 5px;
        }
        .btn {
            margin-left: 10px;
            padding: 5px 10px;
            font-size: 16px;
            width: 100px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='API.js') }}"></script>
    <script type=text/javascript>
        var SetupData = {};
        var Setup = {
            GET: function(endpoint, successCallback) {
                return MYAPI.GET(endpoint, successCallback);
            },
            POST: function(endpoint, successCallback) {
                Setup_LoadObj();
                return MYAPI.POST(endpoint, successCallback, SetupData);
            },
            FIELDS: {
                LEFT_ANGLE: "LeftAngle",
                RIGHT_ANGLE: "RightAngle",
                BLOCK_SIZE: "BlockSize",
                BLOCK_X_COUNT: "BlockXCount",
                BLOCK_Y_COUNT: "BlockYCount",
                CAM_F_PX: "f",
                CAM_F_MM: "f_mm",
                CAM_CX: "cx",
                CAM_CY: "cy",
                CAM_CZ: "cz",
                LASER_L_PIN: "l_pin",
                LASER_R_PIN: "r_pin",
                LASER_R_ANGLE: "r_angle",
                LASER_L_ANGLE: "l_angle",
                MOTOR_ENABLE: "enable_pin",
                MOTOR_DIRECTION: "dir_pin",
                MOTOR_PULSE: "pulse_pin",
                MOTOR_STEP_SIZE: "step_size",
                MOTOR_MICRO_STEPS: "micro_steps"
            }
        }

        function Setup_LoadObj() {
            SetupData[Setup.FIELDS.LEFT_ANGLE] = $('#input_left_angle').val();
            SetupData[Setup.FIELDS.RIGHT_ANGLE] = $('#input_right_angle').val();
            SetupData[Setup.FIELDS.BLOCK_SIZE] = $('#input_block_size').val();
            SetupData[Setup.FIELDS.BLOCK_X_COUNT] = $('#input_x_count').val();
            SetupData[Setup.FIELDS.BLOCK_Y_COUNT] = $('#input_y_count').val();
            SetupData[Setup.FIELDS.CAM_F_PX] = $('#input_f_px').val();
            SetupData[Setup.FIELDS.CAM_F_MM] = $('#input_f_mm').val();
            SetupData[Setup.FIELDS.CAM_CX] = $('#input_cx').val();
            SetupData[Setup.FIELDS.CAM_CY] = $('#input_cy').val();
            SetupData[Setup.FIELDS.CAM_CZ] = $('#input_cz').val();
            SetupData[Setup.FIELDS.LASER_L_PIN] = $('#input_left_pin').val();
            SetupData[Setup.FIELDS.LASER_R_PIN] = $('#input_right_pin').val();
            SetupData[Setup.FIELDS.LASER_L_ANGLE] = $('#input_left_angle').val();
            SetupData[Setup.FIELDS.LASER_R_ANGLE] = $('#input_right_angle').val();
            SetupData[Setup.FIELDS.MOTOR_ENABLE] = $('#input_enable_pin').val();
            SetupData[Setup.FIELDS.MOTOR_DIRECTION] = $('#input_dir_pin').val();
            SetupData[Setup.FIELDS.MOTOR_PULSE] = $('#input_pulse_pin').val();
            SetupData[Setup.FIELDS.MOTOR_STEP_SIZE] = $('#input_step_size').val();
            SetupData[Setup.FIELDS.MOTOR_MICRO_STEPS] = $('#input_micro_steps').val();
        }

        function Setup_LoadUI() {
            //$('#input_left_angle').val(SetupData[Setup.FIELDS.LEFT_ANGLE]);
            //$('#input_right_angle').val(SetupData[Setup.FIELDS.RIGHT_ANGLE]);
            //$('#input_block_size').val(SetupData[Setup.FIELDS.BLOCK_SIZE]);
            //$('#input_x_count').val(SetupData[Setup.FIELDS.BLOCK_X_COUNT]);
            //$('#input_y_count').val(SetupData[Setup.FIELDS.BLOCK_Y_COUNT]);
            $('#input_f_px').val(SetupData[Setup.FIELDS.CAM_F_PX]);
            $('#input_f_mm').val(SetupData[Setup.FIELDS.CAM_F_MM]);
            $('#input_cx').val(SetupData[Setup.FIELDS.CAM_CX]);
            $('#input_cy').val(SetupData[Setup.FIELDS.CAM_CY]);
            $('#input_cz').val(SetupData[Setup.FIELDS.CAM_CZ]);
            //$('#input_left_pin').val(SetupData[Setup.FIELDS.LASER_L_PIN]);
            //$('#input_right_pin').val(SetupData[Setup.FIELDS.LASER_R_PIN]);
            //$('#input_left_angle').val(SetupData[Setup.FIELDS.LASER_L_ANGLE]);
            //$('#input_right_angle').val(SetupData[Setup.FIELDS.LASER_R_ANGLE]);
            //$('#input_enable_pin').val(SetupData[Setup.FIELDS.MOTOR_ENABLE]);
            //$('#input_dir_pin').val(SetupData[Setup.FIELDS.MOTOR_DIRECTION]);
            //$('#input_pulse_pin').val(SetupData[Setup.FIELDS.MOTOR_PULSE]);
            //$('#input_step_size').val(SetupData[Setup.FIELDS.MOTOR_STEP_SIZE]);
            //$('#input_micro_steps').val(SetupData[Setup.FIELDS.MOTOR_MICRO_STEPS]);
        }

        function saved() {
            alert("Saved");
        }

        function loaded(data) {
            SetupData = {};
            SetupData = $.parseJSON(data["message"]);
            Setup_LoadUI();
        }

        function save() {
            Setup.POST('/save_setup', saved);
            return false;
        }

        function calibrate() {
            Setup.GET('/run_calibration', loaded)
        }

        function loadSetup() {
            Setup.GET('/load_setup', loaded);
        }
    </script>
</head>
<body>
    <form method="post">
        <div class="label-title">Camera</div>
        <div class="row">
            <label class="label-short" for="input_f_px">f</label>
            <input class="input-short" name="input_f_px" id="input_f_px" value="{{ config.camera.f }}"/><span> px</span>
            <input class="input-short right" name="input_f_mm" id="input_f_mm" value="{{ config.camera.f_mm }}"/><span> mm</span>
        </div>
        <div class="row">
            <label class="label-short" for="input_cx">Cx</label>
            <input class="input-short" name="input_cx" id="input_cx" value="{{ config.camera.cx }}"/><span> px</span>
        </div>
        <div class="row">
            <label class="label-short" for="input_cy">Cy</label>
            <input class="input-short" name="input_cy" id="input_cy" value="{{ config.camera.cy }}"/><span> px</span>
        </div>
        <div class="row">
            <label class="label-short" for="input_cz">Cz</label>
            <input class="input-short" name="input_cz" id="input_cz" value="{{ config.camera.cz }}"/><span> mm</span>
        </div>

        <div class="label-title-next">Lasers</div>
        <div>
            <div class="row" style="display: inline-block;">
                <div style="margin-left: 85px;">
                    <span>Left</span><span style="margin-left: 45px;">Right</span>
                </div>
            </div>
            <div class="row">
                <label class="label-med" for="input_left_pin">Pin:</label>
                <input class="input-short" name="input_left_pin" id="input_left_pin" value="{{ config.left_laser.pin }}"/>
                <input class="input-short right" name="input_right_pin" id="input_right_pin" value="{{ config.right_laser.pin }}"/>
            </div>
            <div class="row">
                <label class="label-med" for="input_left_angle">Angle:</label>
                <input class="input-short" name="input_left_angle" id="input_left_angle" value="{{ config.left_laser.angle }}"/>
                <input class="input-short right" name="input_right_angle" id="input_right_angle" value="{{ config.right_laser.angle }}"/><span style="margin-left: 15px;">deg</span>
            </div>
        </div>

        <div class="label-title-next">Pattern</div>
        <div>
            <div class="row">
                <label class="label-lg" for="input_block_size">Block Size:</label>
                <input class="input-short" name="input_block_size" id="input_block_size" value="{{ config.camera.grid_size }}"/><span> mm</span>
            </div>
            <div class="row">
                <label class="label-lg" for="input_x_cnt">X Count:</label>
                <input class="input-short" name="input_x_cnt" id="input_x_cnt" value="{{ config.camera.nx }}"/>
            </div>
            <div class="row">
                <label class="label-lg" for="input_y_cnt">X Count:</label>
                <input class="input-short" name="input_y_cnt" id="input_y_cnt" value="{{ config.camera.ny }}"/>
            </div>
        </div>

        <div class="label-title-next">Stepper Motor</div>
        <div>
            <div class="row">
                <label class="label-lg" for="input_step_size">Step Size:</label>
                <input class="input-short" name="input_step_size" id="input_step_size" value="{{ config.stepper_motor.step_size }}"/><span> deg</span>
            </div>
            <div class="row">
                <label class="label-lg" for="input_micro_steps">Micro Steps:</label>
                <input class="input-short" name="input_micro_steps" id="input_micro_steps" value="{{ config.stepper_motor.micro_steps }}"/>
            </div>
            <div style="margin-left: 135px; margin-top: 10px;">Pin</div>
            <div class="row">
                <label class="label-lg" for="input_enable">Enable:</label>
                <input class="input-short" name="input_enable" id="input_enable" value="{{ config.stepper_motor.enable_pin }}"/>
            </div>
            <div class="row">
                <label class="label-lg" for="input_direction">Direction:</label>
                <input class="input-short" name="input_direction" id="input_direction" value="{{ config.stepper_motor.dir_pin }}"/>
            </div>
            <div class="row">
                <label class="label-lg" for="input_pulse">Pulse:</label>
                <input class="input-short" name="input_pulse" id="input_pulse" value="{{ config.stepper_motor.pulse_pin }}"/>
            </div>
        </div>
        <div class="label-title-next"></div>
        <div>
            <input class="btn" type="button" value="Calibrate" onclick="calibrate()"/>
            <input class="btn" type="submit" value="Save"/>
        </div>
    </form>
</body>
</html>